/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settings-container {
    max-width: 700px;
    margin: auto auto;
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

table thead {
    background-color: #f9f9f9;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 0.75rem;
    text-align: left;
}

input[type="text"],
input[type="number"] {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 3rem;
}

button {
    background-color: #636872;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 20%;
}

#removeBtn {
    width: 100%;
    background-color: rgb(187, 57, 57);
}

.section {
    margin: 15px;
    padding: 10px 20px;
    border: 1px solid #ccc; /* Soft border color */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Softer shadow */
    background: #fff; /* Assuming a light mode design */
    width: 100%; /* Or any width per design requirements */
    box-sizing: border-box; /* Include padding and border in the width */
}

#help-instructions {
    margin: 10px;
}

button:disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}

.suggestions-container{
    margin: 10px auto;
}

button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#suggestions{
    margin: 5px;
}

#sugBtn {
    background: #008080;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;
    margin: 2px;
    border-radius: 20px;
    font-size: 11px;
}

#sugBtn:hover {
    opacity: 0.9;
}