body {
    width: 200px;
    height: 300px;
    font-family: 'Cardo', serif;
}

.receipt-container {
    background: #fff;
    color: #09009a;
    padding: 5px;
}

.receipt-header {
    border-bottom: 1px dashed #000;
    text-align: center;
}

.receipt-header h1 {
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.receipt-header h1 span {
    display: block;
    font-size: 25px;
}

.receipt-header h2 {
    font-size: 14px;
    color: #727070;
    font-weight: 300;
}

.receipt-header h2 span {
    display: block;
}


table {
    width: 100%;
}

thead, tfoot {
    position: relative;
}

thead th:not(:last-child) {
    text-align: left;
}

#receipt-t thead th:last-child {
    text-align: right;
}

thead::after {
    content: '';
    width: 100%;
    border-bottom: 1px dashed #000;
    display: block;
    position: absolute;
}

tbody td:not(:last-child), tfoot td:not(:last-child) {
    text-align: left;
}

tbody td:last-child, tfoot td:last-child{
    text-align: right;
}

tbody tr:first-child td {
    padding-top: 15px;
}

tbody tr:last-child td {
    padding-bottom: 15px;
}

tfoot tr:first-child td {
    padding-top: 15px;
}

tfoot::before {
    content: '';
    width: 100%;
    border-top: 1px dashed #000;
    display: block;
    position: absolute;
}

tfoot tr:first-child td:first-child, tfoot tr:first-child td:last-child {
    font-weight: bold;
    font-size: 20px;
}

#date {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.items {
    margin-top: 25px;
}

.thanks {
    border-top: 1px dashed #000;
    padding-top: 10px;
    /* margin-top: 25px; */
    text-align: center;
    font-style: italic;
}

#capturePageBtn {
    position: absolute;
    top: 10px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
    opacity: 0.3; 
}
  
#capturePageBtn img {
    width: 24px; /* or the size of your icon */
    height: 24px;
    transition: opacity 0.3s ease;
}

#capturePageBtn:hover  {
    opacity: 1; /* darken the icon on hover */
}

#copyText {
    font-size: 14px;
}